.thumb {
    height: 75px;
    border: 1px solid #000;
    margin: 10px 5px 0 0;
}
.list{
	width:200px;
	height:200px;
	border:1px solid #09F;
	display:block;
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center top;
}