
.thumb {
	height: 75px;
	border: 1px solid #000;
	margin: 10px 5px 0 0;
}
.list{
	width:200px;
	height:200px;
	border:1px solid #09F;
	display:block;
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center top;
}

#phoneContainer {
	height: 736px;
	width: 414px;
	background: blue;
	border: 1px solid #eee;
}

a {
	color: inherit;
	text-decoration: none;
}

a.home {
	background-image: url(./img/home.png);
}

a.locator {
	background-image: url(./img/locator.png);
}

#phone-menu a{
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	height: 35px;
	width: 35px;
	display: block;
	padding-top: 55px;
}
