a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

#phone-menu li:first-child a {
	background-image: url(../img/home.png);
}

#phone-menu li:nth-child(2) a {
	background-image: url(../img/locator.png);
}

#phone-menu li:nth-child(3) a {
	background-image: url(../img/refund.png);
}

#phone-menu li:nth-child(4) a {
	background-image: url(../img/tips.png);
}

#phone-menu li:nth-child(5) a{
	background-image: url(../img/account.png);
}

#phone-menu a {
    background-position: center;
    background-repeat: no-repeat;
    height: 35px;
    background-size: 35px;
    width: 50px;
    display: block;
    padding-top: 55px;
    margin: 0 14px;
    text-align: center;
}

div#phone-menu li:nth-child(3) {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -25px;
}

#phone-menu li:nth-child(3) a {
    background-image: url(../img/refund.png);
    background-size: 100px;
    width: 100px;
    height: 75px;
    padding-top: 80px;
}



div#phone-menu {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 -5px 10px -5px #b6b6b6;
}

div#phone-menu li {
    display: inline-block;
}

div#phone-menu ul {
    text-align: center;
}




div#phone-menu li:nth-child(2) {
    padding-right: 95px;
}

.title {
    border-bottom: 2px solid;
    text-align: center;
}

.h2, h2 {
    font-size: 23px;
    margin: 10px 0;
}

.middle {
    padding: 20px;
}

ul {
    padding: 0;
}

button.nav {
    display: block;
    width: 100%;
    padding: 15px 0;
    margin-top: 50px;
}


.upload {
    padding-top: 40px;
}

img {
    width: 100%;
}

.row.single {
    padding-top: 20px;
}

.done img {
    width: 50%;
}

span.status {
    font-weight: bold;
}

div#stats {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 87px;
    border-top: 2px solid;
    text-align: center;
    padding: 10px;
}

.panel-body {
    padding-bottom: 0;
}

.country-of-shopping {
    padding-bottom: 20px;
}

.contact-info li {
    list-style: none;
    padding: 0;
    padding-bottom: 10px;
}

/* debug */

div#content {
    height: 80%;
}

.vertical-align {
    height: 100%;
    display: table;
    vertical-align: middle;
    width: 100%;
}

.tips-home, .auth-home {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#map {
    height: 100%;
    width: 100%;
}
.btn:focus, .btn:active {
	outline: 0;
}
.auth-home img {
    padding-bottom: 50px;
    width: 250px;
    margin: 0 auto;
    text-align: center;
    margin-top: -50px;
}

.auth-home button.nav {
    margin-top: 5px;
}

body .no-style {
    display: inline-block;
    width: auto;
    padding: 6px 12px;
    margin: auto;
}

div#refund-amount {
    padding-top: 30px;
    font-size: 1.5em;
}


@keyframes ripple {
  0% {
    transform: scale(0, 0);
    opacity: 1;
  }
  20% {
    transform: scale(25, 25);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(40, 40);
  }
}

.loading:after {
  animation: ripple 1s ease-out infinite;
}

.loading:after {
    content: '';
    position: absolute;
    bottom: 100px;
    left: 50%;
    width: 40px;
    height: 40px;
    background: rgb(255, 255, 255);
    opacity: 0;
    border-radius: 100%;
    transform: scale(1, 1) translate(50%);
    transform-origin: 50% 50%;
}

div#phone-menu {
    z-index: 100;
    background: white;
}

/* design */ 

div#phone-menu {
    color: #000;
}

.phone-screen {
   
    color: #fff;
    background: -webkit-linear-gradient(to right, #E100FF, #7F00FF);
    background: linear-gradient(to right, #E100FF, #7F00FF);
}


/* ripple */





/* mobile */

@media screen and (max-width: 680px) {

.phone-shape {
    width: 100%;
    height: 100%;
    border-radius: 0;
    border: 0;
    padding: 0;
    box-shadow: none;
}


.buttons {
    display: none;
}

span.button-four.button.last {
    display: none;
}

#phone-menu a {
    width: 45px;
}

.circle-button {
    display: none;
}

.top-details {
    display: none;
}

.iphone-container {
     padding-top: 0;
         height: 100%;
}

div#phone-menu {
    bottom: 0;
}

    div#stats {
    bottom: 95px;

}

#phone-menu a {
    width: 100%;
    margin: 0;
}

div#phone-menu li {
    display: inline-block;
    width: 19%;
}
div#content {
    height: 87%;
    overflow-y: scroll;
}

.vertical-align {
    height: 80%;
}

div#phone-menu li:nth-child(2) {
    padding-right: 0;
    margin-right: 75px;
}

div#phone-menu li:nth-child(3) {
    width: auto;
    top: -40px;
}

#phone-menu li:nth-child(3) a {
    background-image: url(../img/refund.png);
    background-size: 100px;
    width: 100px;
    height: 100px;
    padding-top: 94px;
}



}