body, .phone-screen {
    background: #2193b0;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #4bc2dd, #38a4bf);
background: linear-gradient(to right, #4bc2dd, #38a4bf)

}

body {
    background: rgba(87, 83, 195, 0.9);
}

.middle.account {
    background: #44b6d1;
}

.phone-screen {
    color: #fff;
}

.btn-default {
    border-radius: 0;
    border: 0;
}

.circle-button {
    cursor: pointer;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

#phone-menu li:first-child a {
	background-image: url(../img/home.png);
}

#phone-menu li:nth-child(2) a {
	background-image: url(../img/locator.png);
}

#phone-menu li:nth-child(3) a {
	background-image: url(../img/refund.png);
}

#phone-menu li:nth-child(4) a {
	background-image: url(../img/tips.png);
}

#phone-menu li:nth-child(5) a{
	background-image: url(../img/account.png);
}

#phone-menu a {
    background-position: center;
    background-repeat: no-repeat;
    height: 35px;
    background-size: 35px;
    width: 50px;
    display: block;
    padding-top: 55px;
    margin: 0 14px;
    text-align: center;
}



div#phone-menu li:nth-child(3) {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -40px;
    width: auto;
}
#phone-menu li:nth-child(3) a {
    background-image: url(../img/refund.png);
    background-size: 100px;
    width: 100px;
    height: 100px;
    padding-top: 95px;
}


div#phone-menu {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 -5px 10px -5px #b6b6b6;
}

div#phone-menu li {
    display: inline-block;
    width: 20%;
}

div#phone-menu ul {
    text-align: center;
}


div#phone-menu li:nth-child(2) {
    margin-right: 65px;
}

.title {
    border-bottom: 2px solid;
    text-align: center;
}

.title.fixedbg {

    background: #8a00ff;
}

.h2, h2 {
    font-size: 23px;
    padding: 10px 0;
    margin: 0;
}

svg {
    fill: white;
    width: 35px;
}

.text-center {
    text-align: center;
}

.middle {
    padding: 20px;
}

label.file-upload-container {
    border: 2px solid;
    padding: 15px 0;
    width: 100%;
    text-align: center;
    cursor: pointer;
}

ul {
    padding: 0;
}

span.back {
    position: absolute;
    left: 15px;
    cursor: pointer;
    top: 0;
}

.thumb {
    height: 237px;
    overflow: hidden;
    padding: 0;
    text-align: center;
    width: 50%;
    margin: 0 auto;
}
.step2 h3, .step3 h3 {
    text-align: center;
    margin-bottom: 30px;
}

.summary-text li {
    list-style: none;
    width: 33%;
    float: left;
    padding: 20px 0;
    text-align: center;
    font-size: 1.2em;
}



button.nav {
    display: block;
    width: 100%;
    padding: 15px 0;
    margin-top: 10px;
}

.middle.done {
    text-align: center;
}

img {
    width: 100%;
}


.done img {
    width: 50%;
}

span.status {
    font-weight: bold;
}

div#stats {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 87px;
    border-top: 2px solid;
    text-align: center;
    padding: 10px;
}

.middle.home LI {
    LIST-STYLE: none;
    padding: 0 20px;
    border-bottom: 2px solid rgba(238, 238, 238, 0.18);
}

.card img {
    width: 100px;
}

.panel-body {
    padding-bottom: 0;
}

.country-of-shopping {
    padding-bottom: 20px;
}

.contact-info li {
    list-style: none;
    padding: 0;
    padding-bottom: 10px;
}

/* debug */

div#content {
    height: 81%;
}

.vertical-align {
    height: 100%;
    display: table;
    vertical-align: middle;
    width: 100%;
}

.tips-home, .auth-home {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#map {
    height: 100%;
    width: 100%;
}
.btn:focus, .btn:active {
	outline: 0;
}
.auth-home img {
    padding-bottom: 95px;
    width: 330px;
    margin: 0 auto;
    text-align: center;
    margin-top: 10px;
}

.auth-home button.nav {
    margin-top: 5px;
}

body .no-style {
    display: inline-block;
    width: auto;
    padding: 6px 12px;
    margin: auto;
}

div#refund-amount {
    padding-top: 30px;
    font-size: 1.5em;
}


@keyframes ripple {
  0% {
    transform: scale(0, 0);
    opacity: 1;
  }
  20% {
    transform: scale(25, 25);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(40, 40);
  }
}

a:focus, a:hover {
    color: inherit;
    text-decoration: none;
}


.middle.home .col-xs-6 {
    padding: 0;
}

.middle.home .col-xs-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}

.loading:after {
  animation: ripple 1s ease-out infinite;
}

.loading:after {
    content: '';
    position: absolute;
    bottom: 100px;
    left: 50%;
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.2);
    opacity: 0;
    border-radius: 100%;
    transform: scale(1, 1) translate(50%);
    transform-origin: 50% 50%;
}

.summary-text li span {
    font-size: 1.2em;
    display: block;
}
 
.step1 h4 {
    font-size: 20px;
    font-weight: normal;
}

.step1 {
    text-align: center;
}

.step1 button.nav {
    margin-top: 25px;
}

div#phone-menu {
    z-index: 100;
    background: white;
}

hr {
    border-top: 2px solid rgba(255, 255, 255, 0.39);
}



.triple-pictures h3 {
    padding-bottom: 25px;
    margin-top: 0;
}

.triple-pictures img {
    transform: scale(0.9);
    transition: 0.2s ease-in-out;
}

.triple-pictures img:hover {
    transform: scale(1);
}

.row.contact-info img {
    border: 2px solid;
    border-radius: 2px;
}

.account svg {
    width: 25px;
}

.account h4 {
    padding-bottom: 5px;
}

button.another:hover {
    color: #fff;
}

.middle.done h4 {
    padding-bottom: 20px;
}

button.another {
    border: 2px solid;
    padding: 15px 40px;
    border-radius: 0;
    background: transparent;
}

select {
    background-color: transparent;
    display: block;
    line-height: 22px;
    position: relative;
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-bottom: 0px solid #fff;
    outline: none;
    width: 100%;
    
    color: #030303;

    font-size: 1.3em;
    padding: 0;
    display: block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 14px 0px;
}

select option {
    color: #000;
}

div#refund-amount {
    text-align: center;
}


/* design */ 

div#phone-menu {
    color: #000;

}



#refund-calculator {
    padding-top: 40px;
}



.triple-pictures li {
    list-style: none;
    display: inline-block;
    width: 30%;
    margin: 0 4px;
}
.triple-pictures {
    padding: 20px;
    text-align: center;
    background: #596163;
    border-bottom: 2px solid;
    padding-bottom: 40px;
    margin-bottom: 40px;
}
.step1 .country-of-shopping {
    padding: 0 20px;
}

.step1 hr {
    border-top: 2px solid rgb(255, 255, 255);
    margin-top: 15px;
}

.middle.calculator .country-of-shopping {
    padding-bottom: 0;
}


.triple-pictures h3 {
    padding-bottom: 25px;
    font-size: 20px;
    padding-top: 15px;
    font-weight: normal;
}

div#stats {
    background: #47b4cf;
}

.vat-informations div#country-info {
    font-size: 1.2em;
}

.middle.register2 li {
    list-style: none;
    padding-bottom: 25px;
    font-size: 1.2em;
}

.middle.register2 li span {
    font-weight: bold;
}

div#country-info span {
    font-weight: bold;
    font-size: 1.1em;
}

.btn.btn-primary {
    border-radius: 0;
    border: 0;
}

.register h3 {
    font-size: 24px;
    text-align: center;
    padding-bottom: 20px;
    font-weight: normal;
}

.register2 h4 {
    padding-top: 20px;
}

.register2 h3 {
    padding-bottom: 20px;
}

.register2  button.nav {
  
    margin-top: 50px;
}

.register {
    padding: 30px 20px;
}

.register .thumb {
    height: 180px;
    overflow: hidden;
    padding: 0;
    text-align: center;
    width: 70%;
    margin: 0 auto;
}

.btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
    border-radius: 0;
    border: 0;
}

.middle.step1 {
    padding: 0;
}

.calculator input {
    width: 100%
}

.middle.account {
    padding-bottom: 130px;
}

.btn-link {
    font-weight: 400;
    color: #f3f3f3;
    border-radius: 0;
}



.title.locator li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    padding: 10px 0;
    cursor: pointer;
}

.title.locator li.active {
    font-weight: bold;
    border-bottom: 2px solid;
    padding-bottom: 2px;
}

div#error-message {
    padding: 20px;
    border: 2px solid;
    margin-bottom: 20px;
}

#stats h4 {
    margin-top: 5px;
    margin-bottom: 0;
}

.middle.home {
    margin-bottom: 100px;
    padding: 0;
}

#stats span {
    font-size: 3em;
}


/* mobile */

@media screen and (max-width: 680px) {

.phone-shape {
    width: 100%;
    height: 100%;
    border-radius: 0;
    border: 0;
    padding: 0;
    box-shadow: none;
}

.col-xs-3 img {
    height: 100%;
    width: auto;
}



.buttons {
    display: none;
}

span.button-four.button.last {
    display: none;
}

#phone-menu a {
    width: 45px;
}

.circle-button {
    display: none;
}

.top-details {
    display: none;
}

.iphone-container {
     padding-top: 0;
         height: 100%;
}

div#phone-menu {
    bottom: 0;
}

    div#stats {
    bottom: 85px;

}


#phone-menu a {
    width: 100%;
    margin: 0;
}

div#phone-menu li {
    display: inline-block;
    width: 19%;
}
div#content {
    height: 88%;
    overflow-y: scroll;
}

.vertical-align {
    height: 80%;
}

div#phone-menu li:nth-child(2) {
    padding-right: 0;
    margin-right: 75px;
}

div#phone-menu li:nth-child(3) {
    width: auto;
    top: -40px;
}

#phone-menu li:nth-child(3) a {
    background-image: url(../img/refund.png);
    background-size: 100px;
    width: 100px;
    height: 100px;
    padding-top: 94px;
}



}


@media screen and (max-width: 350px) {

#phone-menu li:nth-child(3) a {
    background-image: url(../img/refund.png);
    background-size: 70px;
    width: 70px;
    height: 110px;
    padding-top: 95px;
}
div#phone-menu li {
    display: inline-block;
    width: 17%;
}


    }
