a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

#phone-menu li:first-child a {
	background-image: url(../img/home.png);
}

#phone-menu li:nth-child(2) a {
	background-image: url(../img/locator.png);
}

#phone-menu li:nth-child(3) a {
	background-image: url(../img/refund.png);
}

#phone-menu li:nth-child(4) a {
	background-image: url(../img/tips.png);
}

#phone-menu li:nth-child(5) a{
	background-image: url(../img/account.png);
}

#phone-menu a {
    background-position: center;
    background-repeat: no-repeat;
    height: 35px;
    background-size: 35px;
    width: 50px;
    display: block;
    padding-top: 55px;
    margin: 0 15px;
    text-align: center;
}

.title {
    border-bottom: 2px solid #000;
    text-align: center;
}

.h2, h2 {
    font-size: 23px;
    margin: 10px 0;
}

.middle {
    padding: 20px;
}

ul {
    padding: 0;
}

button.nav {
    display: block;
    width: 100%;
    padding: 15px 0;
    margin-top: 50px;
}


.upload {
    padding-top: 40px;
}

img {
    width: 100%;
}

.row.single {
    padding-top: 20px;
}

.done img {
    width: 50%;
}

span.status {
    font-weight: bold;
}

div#stats {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 87px;
    border-top: 2px solid #000;
    text-align: center;
    padding: 10px;
}

.panel-body {
    padding-bottom: 0;
}

.country-of-shopping {
    padding-bottom: 20px;
}

.contact-info li {
    list-style: none;
    padding: 0;
    padding-bottom: 10px;
}

/* debug */

div#content {
    height: 80%;
}

.vertical-align {
    height: 100%;
    display: table;
    vertical-align: middle;
    width: 100%;
}

.tips-home, .auth-home {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#map {
    height: 100%;
    width: 100%;
}
.btn:focus, .btn:active {
	outline: 0;
}
.auth-home img {
    padding-bottom: 50px;
    width: 250px;
    margin: 0 auto;
    text-align: center;
    margin-top: -50px;
}

.auth-home button.nav {
    margin-top: 5px;
}

body .no-style {
    display: inline-block;
    width: auto;
    padding: 6px 12px;
    margin: auto;
}

div#refund-amount {
    padding-top: 30px;
    font-size: 1.5em;
}